#### Load all packages

In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import warnings
import datetime
%matplotlib inline
warnings.filterwarnings('ignore')

#### Load data for origin and destination per hour

In [2]:
origin = pd.read_csv('../../Data/20190403/Datalab_Reis_Herkomst_Uur_20190403.csv', sep=';')
origin = origin.dropna()
destination = pd.read_csv('../../Data/20190403/Datalab_Reis_Bestemming_Uur_20190402.csv', sep=';')
destination = destination.dropna()

In [3]:
# List of all stations in the sub-network
stations = ['Amsteldijk','Amstelstation','Amstelveenseweg','Beethovenstraat','Bullewijk','Burg.de Vlugtlaan', 
    'Centraal Station','Cornelis Troostplein','Dam','De Boelelaan/VU','De Pijp','Europaplein',
    'Gaasperplas','Gein','Gerrit v.d. Veenstraat','Heemstedestraat','Henk Sneevlietweg','IJsbaanpad', 
    'Isolatorweg','Jan v.Galenstraat','Keizersgracht','Koningsplein','Kraaienneststation','Leidseplein',
    'Maasstraat','Marie Heinekenplein','Minervaplein','Muntplein','Museumplein','Nieuwezijds Kolk',
    'Nieuwmarkt','Noord','Noorderpark','Olympiaplein','Olympiaweg','Olympisch stadion','Overamstel', 
    'Postjesweg','Prinsengracht','Reigersbos','Rijksmuseum','Roelof Hartplein','Rokin','Scheldestraat',
    'Spaklerweg','Spui','Station Bijlmer ArenA','Station Diemen-Zuid','Station Duivendrecht',
    'Station Ganzenhoef','Station Holendrecht','Station Lelylaan','Station RAI','Station Sloterdijk', 
    'Strandvliet','Van Baerlestraat','Van der Madeweg','Venserpolder','Verrijn Stuartweg','Victorieplein', 
    'Vijzelgracht','VU medisch centrum','Waalstraat','Waterlooplein','Weesperplein','Wibautstraat','Station Zuid']

#### Change dates to datetime objects and add weekday column

In [4]:
origin['Datum'] = origin['Datum'].apply(lambda x: datetime.datetime.strptime(x[:-3], '%m/%d/%Y %H:%M:%S'))
origin['Weekdag'] = origin['Datum'].apply(lambda x: x.isoweekday())

destination['Datum'] = destination['Datum'].apply(lambda x: datetime.datetime.strptime(x[:-3], '%m/%d/%Y %H:%M:%S'))
destination['Weekdag'] = destination['Datum'].apply(lambda x: x.isoweekday())

#### Remove data where the Noord/Zuid line did not run yet

In [8]:
origin.head()

,Datum,UurgroepOmschrijving (van vertrek),VertrekHalteCode,VertrekHalteNaam,VertrekLat,VertrekLon,AantalReizen,Weekdag
2,2018-01-01 12:00:00,01:00 - 01:59,01365,Atat?rk,4.897943,52.403196,14,1
3,2018-01-01 12:00:00,01:00 - 01:59,03071,Jan Voermanstraat,4.838186,52.369491,13,1
4,2018-01-01 12:00:00,01:00 - 01:59,03178,Mercatorplein,4.849917,52.370803,12,1
5,2018-01-01 12:00:00,01:00 - 01:59,04051,C.K. Eloutstraat,4.811380,52.354345,16,1
6,2018-01-01 12:00:00,01:00 - 01:59,05070,Nieuwezijds Kolk,4.892841,52.375754,27,1

In [6]:
destination.head()

,Datum,UurgroepOmschrijving (van aankomst),AankomstHalteCode,AankomstHalteNaam,AankomstLat,AankomstLon,AantalReizen,Weekdag
2,2018-01-01 12:00:00,01:00 - 01:59,01005,Volendammerweg,4.956804,52.393062,12,1
3,2018-01-01 12:00:00,01:00 - 01:59,01059,Purmerplein,4.945694,52.390460,11,1
4,2018-01-01 12:00:00,01:00 - 01:59,ASA,Amstelstation,4.917514,52.346473,89,1
5,2018-01-01 12:00:00,01:00 - 01:59,BLW,Bullewijk,4.952336,52.306422,136,1
6,2018-01-01 12:00:00,01:00 - 01:59,BMR,Station Bijlmer ArenA,4.947135,52.311930,414,1

In [ ]:
# df2.loc[df2['VertrekHalteNaam'].isin(stations)